<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: red;
            color:aliceblue
        }
    </style>
</head>
<body>
    <h1>Consuming 3rd party API's Demo .....</h1><hr>
    <h2>Your Geographic Information : </h2>
    <h3>Your IP Address:{{ip}}</h3>
    <h3>Your Your Continent_name :{{continent_name}}</h3>
    <h3>Your Country_code:{{country_code}}</h3>
    <h3>Your Country_name:{{country_name}}</h3>
    <h3>Your Region_code:{{region_code}}</h3>
    <h3>Your City:{{city}}</h3>
    <h3>Your Zip:{{zip}}</h3>
    <h3>Your Country_flag:{{country_flag}}</h3>
    <h3>Your Longitude:{{longitude}}</h3>
    <h3>Your Longitude:{{longitude}}</h3>
    <h3>Your Location:{{location}}</h3>
    
</body>
</html>

